:root {
  /* colors etc */
}
* {
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.75;
}
header h1 {
  margin: 1rem 2rem;
}
header h2 {
  margin: 1rem 2rem;
}
header {
  border-block-end: 1px solid #333;
}
main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  min-height: 80vh;
}
main > section {
  margin-block: 1rem;
  padding: 1rem;
}
.red .red,
.green .green {
  /* user is logged in show authenticated, user is not logged in show authentication */
  position: relative;

  &::after {
    display: none;
  }
}
.red .green,
.green .red,
body:not(.red, .green) section {
  /* user is logged in hide authentication, user is not logged in hide authenticated */
  position: relative;

  &::after {
    content: 'nope';
    touch-action: none;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    inset: 0;
    background-color: hsla(0, 0%, 0%, 0.64);
    color: white;
  }
}
.yellow {
}
form {
  width: clamp(300px, 80%, 600px);
}
.formbox {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  label,
  input {
    font-size: 1.2rem;
    font-family: inherit;
  }
}
.formbox.actions {
  grid-template-columns: 1fr;
  justify-content: center;
}
.formbox button {
  max-width: 150px;
}
button {
  margin-inline: auto;
  font-size: 1.4rem;
  padding: 0.25rem 2rem;
  background-color: hsl(220, 50%, 50%);
  color: white;
  border: none;
  cursor: pointer;
}
button.processing {
  touch-action: none;
  background-color: hsl(220, 5%, 60%);
  cursor: wait;
}
